@using Nestle.CH.HQ.RSL.WebApp
@using Nestle.CH.HQ.RSL.WebApp.Models
@using Nestle.CH.HQ.RSL.WebApp.Services;
@inject LanguageService _localization

@{
    Layout = "_Layout";
}

<!-- Header End -->
<body>

    <!-- Passengers page -->
  @*   <section class="main-section admin-section" id="passengers-section"> *@
    <section class="main-section admin-section" id="passengers-section">
        <div class="passanger-container">
                <h3>@_localization.Getkey("ManageAccessHeaderName")</h3>
            <div class="passanger-row">
                <div class="passanger-col">
                    <div class="passanger-header">
                        <div class="search-wrapper">
                            <input class="search search-box" type="search" name="gsearch" required="" placeholder="@_localization.Getkey("SearchTools")" id="gsearch">
                        </div>
                        <div class="passanger-header-right">                   
                            <button class="btn btn-yellow" id="addToolbtn">
                                <img class="icon-img m-r-10" src="./img/add.png" alt="add">
                                    <span>@_localization.Getkey("AddTool")</span>
                            </button>
                        </div>
                    </div>
                    <div class="grid-table">
                        <div id="alerMessageBox"></div>
                        <div class="grid-wrapper">
                            <table id="passanger-grid"></table>
                        </div>
                    </div>
                </div>
                <div class="passanger-col">
                    <div class="passanger-info-blk">
                        <div class="box-container-blk">
                            <div class="box-container scroll-bar">
                                <div class="passanger-header">
                                        <span>@_localization.Getkey("PassengerHeaderName")</span>
                                    <img id="sort-button" data-id="1" class="icon-large-img pointer-event" src="./img/sort.png" alt="add">
                                </div>
                                <div class="passanger-info-list">
                                    <div class="combined-info-col-container">
                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                                            @_localization.Getkey("ParameterCategoryAttribute")
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                                <div class="accordion-body">
                                                    <div class="info-body">
                                                        <div class="info-col">
                                                            <div class="info-left">
                                                                <span>@_localization.Getkey("IdDisplayName")</span>
                                                                <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info" title="@_localization.Getkey("ManageAccessIdDescription")">
                                                            </div>
                                                            <div class="info-right">
                                                                <input type="text" id="textToolId" disabled>
                                                                <input type="hidden" id="textSelectedAction">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                            @_localization.Getkey("MainDisplayName")
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                                <div class="accordion-body">
                                                    <div class="info-body">
                                                        <div class="info-col">
                                                            <div class="info-left">
                                                                    <span>@_localization.Getkey("ToolIdDisplayName") </span><span class="required-red">*</span>
                                                                <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info" title="@_localization.Getkey("ToolsIdDescription")">
                                                            </div>
                                                            <div class="info-right">
                                                                    <select name="" id="toolName" class="admin-input-change">
                                                                    <option value="">-Select a tool-</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                            @_localization.Getkey("PassengerSecurity")
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingThree">
                                                <div class="accordion-body">
                                                    <div class="info-body">
                                                        <div class="info-col">
                                                            <div class="info-left">
                                                                    <span>@_localization.Getkey("AccessLevelDisplayName") </span><span class="required-red">*</span>
                                                                <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info" title="@_localization.Getkey("ManageAccessLevelDescription")">
                                                            </div>
                                                            <div class="info-right">
                                                                    <select name="" id="textAccessLevel" class="admin-input-change">
                                                                    <option value="">-Select Access level-</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingsix">
                                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsesix" aria-expanded="false" aria-controls="panelsStayOpen-collapsesix">
                                                            4. @_localization.Getkey("Information")
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapsesix" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingsix">
                                                <div class="accordion-body">
                                                    <div class="info-body">
                                                        <div class="info-col">
                                                            <div class="info-left">
                                                                <span>@_localization.Getkey("TimeStampDisplayName")</span>
                                                                <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info" title="@_localization.Getkey("TimeStampDescription")">
                                                            </div>
                                                            <div class="info-right">
                                                                <input type="text" id="textTimeStamp" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="info-col">
                                                            <div class="info-left">
                                                                <span>@_localization.Getkey("ModifiedByDisplayName")</span>
                                                                <img class="icon-img m-l-10" src="./img/circle-outline.png" alt="Info" title="@_localization.Getkey("ModifiedByDescription")">
                                                            </div>
                                                            <div class="info-right">
                                                                <input type="text" id="textModifiedBy" value="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>                           
                            <div class="box-bottom">
                                <button type="button" class="btn btn-yellow" id="enregisterBtn">@_localization.Getkey("insertBtn")</button>
                                <button type="reset" class="btn btn-gray" id="resetBtn">@_localization.Getkey("closeBtn")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Popup for update/Insert questions -->
    <div class="modal fade alert-modal" id="alert-insert-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        @{
                            string insertQuestion = @_localization.Getkey("alertQuestionInsert");
                            string accessTool = @_localization.Getkey("AccessLevel");
                            string insertSatement = string.Format(insertQuestion, accessTool);
                        }
                        <h4 id="alertPassengerInsert">@insertSatement</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-yellow" id="btnInsertConfirm">@_localization.Getkey("Confirm")</button>
                        <button type="button" class="btn btn-border" data-bs-dismiss="modal" aria-label="Close">@_localization.Getkey("CancelButton")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* 
    <div class="modal fade alert-modal" id="alert-duplicate-red" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        @{
                            string updateQuestion = @_localization.Getkey("alertQuestionUpdate");
                            string updateSatement = string.Format(updateQuestion, "AccessTools");
                        }
                        <h4 id="alertPassengerUpdate">@updateSatement</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-border" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" class="btn btn-yellow" id="btnUpdateConfirm">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!-- Modal END -->
    <!-- Modal -->
    <!--alert red Start -->
    <div class="modal fade alert-modal alert_statement" id="alert-delete-red" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        @{
                            string status = @_localization.Getkey("Delete");
                            string originalString = @_localization.Getkey("alertDeleteDanger");
                            string accessTool1 = @_localization.Getkey("AccessLevel");
                            string replacedString = string.Format(originalString, accessTool1);
                        }
                        <h4 id="alertDeleteDanger"><span>@status</span> @replacedString</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--alert red End -->

    <div class="modal fade alert-modal" id="alert-update-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="alertQuestionUpdate">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        @{
                            string updateQuestion = @_localization.Getkey("alertQuestionUpdate");
                            string accessTool2 = @_localization.Getkey("AccessLevel");
                            string updateSatement = string.Format(updateQuestion, accessTool2);
                        }
                        <h4 id="alertPassengerUpdate">@updateSatement</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-yellow" id="btnUpdateConfirm">@_localization.Getkey("Confirm")</button>
                        <button type="button" class="btn btn-border" data-bs-dismiss="modal" aria-label="Close">@_localization.Getkey("CancelButton")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade alert-modal" id="alert-insert-green" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 id="alertInsertSuccess"><span>@_localization.Getkey("Success")</span> @_localization.Getkey("SuccessInsertStatement")</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade alert-modal" id="alert-update-green" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 id="alertUpdateSuccess"><span>@_localization.Getkey("Success")</span> @_localization.Getkey("SuccessUpdateStatement")</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade alert-modal" id="alert-delete-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        @{
                            string deleteQuestion = @_localization.Getkey("alertQuestionDelete");
                            string accessTool3 = @_localization.Getkey("AccessLevel");
                            string deleteSatement = string.Format(deleteQuestion, accessTool3);
                        }
                        <h4 id="alertPassengerDelete">@deleteSatement</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-yellow" id="btnDeleteConfirm">@_localization.Getkey("Confirm")</button>
                        <button type="button" class="btn btn-border" data-bs-dismiss="modal" aria-label="Close">@_localization.Getkey("CancelButton")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <!-- Modal HTML -->
    @* <div class="modal fade alert-modal" id="alert-duplicate-red" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 id="alertUpdateSuccess"><span>@_localization.Getkey("Duplicate")</span> @_localization.Getkey("AlertDuplicateDanger")</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

    <!--alert Green End -->
    <!-- Modal -->
    <!-- Passengers page End -->
    <!--  Passengers Js Start -->
    <script src="~/scripts/manageraccesstools.js?new Date().getTime()"></script>
    <!--  Passengers Grid Js End -->
    <!-- Javascript dependency -->
</body>

